<head>
  <title>Lost Find Found Cat & Dog </title>
  <link href="https://fonts.googleapis.com/css?family=Itim&display=swap" rel="stylesheet">
</head>
<body>
<div class="grid-container">
    <header>
    	<img style="width: 100%;" src="/images/banner03.jpg"/ height="340px">
    </header>
    <menu>
    	<div class="login">
    		<div style="padding-top: 15px">
    			<img src="/images/dog.png" height="42" width="42">
    			<img src="/images/cat.png" height="42" width="42">
    		</div>
    		<h1> Login </h1>
    		<div style="padding-bottom: 5px">
    		<img src="/images/user.png" height="" width="">
    		<label>
    			Username:
    		</label>
    	</div>
    	<div style="padding-bottom: 5px">
    		<input type="text" name = "username">
    	</div>
    	<div style="padding-bottom: 5px">
    		<img src="/images/lock.png" height="" width="">
    		<label>
    			Password:
    		</label>
    	</div>
    	<div style="padding-bottom: 5px">
    		<input type="text" name = "password">
    	</div>
    	<div>
    		<button type="button">Login</button>
    		<label>Sign up?</label>
    	</div>
    	</div>	
    </menu>
    <main>
    	<h1 style="margin: 15px">About</h1>
    	<div class="teammember">
    	<img style="padding: 10px 10px 0px 10px" src="/images/teamwork.png" height="30" width="30">
    	<a style="font-size: 40px">Team Member:</a><br>
    		<div style="padding: 20px 0px 20px 50px">
      			1. นางสาว กัญญารัตน์    เนียมปาน   5910613263<br>
      			2. นางสาว ศุภสิริ        คงเพ็ชรศักดิ์  5910680346<br>
      			3. นางสาว สุนทรา       แข็งธัญการ  5910680353
    		</div>
    	</div>
    	<div class="proposal" style="padding-bottom: 20px">
    		<img style="padding: 10px 10px 0px 10px" src="/images/approval.png" height="40" width="40"> 
    		<a style="font-size: 40px; padding-right: 20px">File Proposal:</a>
    		<a style="font-size: 30px" href ="https://drive.google.com/file/d/1v8yzVVxVETP2vcmSO01i7Z3gbMzji_qd/view?usp=sharing">คลิกที่นี่</a> 
  		</div>
  		<div class = "userstory">
			<img style="padding: 10px 10px 0px 10px" src="/images/story.png" height="40" width="40"> 
    		<a style="font-size: 40px; padding-right: 20px">User Story</a><br>
			<img style="padding: 20px 0px 20px 50px" src = "/images/UserStory2.png"/>
  		</div>
  		<div class = "gitlab">
  			<img style="padding: 10px 10px 0px 10px" src="/images/repository.png" height="40" width="40"> 
    		<a style="font-size: 40px; padding-right: 20px">Git Lab:</a>
   			<a href ="https://gitlab.com/5910613263/lostfindfound.git" target="_blank">Links to git repository</a>
   		</div>
   		<div class = "pivotaltracker">
   			<img style="padding: 10px 10px 0px 10px" src="/images/complete.png" height="40" width="40"> 
    		<a style="font-size: 40px; padding-right: 20px">Pivotal Tracker:</a>
   			<a href ="https://www.pivotaltracker.com/n/projects/2411867" target="_blank">Links to pivotal tracker</a>
   		</div>
   </main>
</div>
</body>