// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.grid-container {
  display: grid;
  grid-template-columns: 0.3fr 1.4fr;
  grid-template-rows: 0.5fr 1.5fr;
  grid-template-areas: "header header" "menu main";
  background-color: #DCDCDC;
}
body{
	font-family: 'Itim', cursive;
}
header {
	grid-area: header;
}

menu {
	margin : 0px;
	background-color: black;
	grid-area: menu; 
	padding-left: 0px;
}
.login{
	color: white;
	border-radius: 20px;
	margin: 20px 10px 0px 10px;
	padding: 10px 0px 20px 20px;
	background-color: #0B7E99;
}

main {
	grid-area: main;
	background-color: white; 
}